// COLORS
$color-primary: #0cb6c9;
$color-primary-light-1: #3bd2e3;
$color-primary-light-2: rgb(136, 230, 241);
$color-primary-dark-1: rgb(3, 127, 141);
$color-primary-dark-2: rgb(3, 87, 97);

$color-secondary-light: #eda618;
$color-secondary-dark: #c91f0c;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7f7;
$color-grey-light-2: #eee;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$nav-font-size: 1.4rem;
$mobile-font-size: 2rem;
$annexure-font-size: 1.4rem;
$default-font-family: 'Montserrat', sans-serif;

// SITE WIDTHS
$site-width: 130rem;
$site-content-width: 114rem;
$form-width: 100rem;
$report-width: 80rem;

// GRID
$grid-width: 114rem;
$gutter-ver: 8rem;
$gutter-hor: 6rem;

// MARGINS
