.footer {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  bottom: 0;
  background-color: $color-primary-dark-1;
  margin-top: 5rem;

  &__content {
    width: $site-width;
    @include u-center-div;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond(phone) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }

    &--text {
      font-size: $default-font-size;
      color: $color-white;
      padding: 1rem 0;
      font-weight: 300;

      @include respond(phone) {
        text-align: center;
        font-weight: 400;
        padding: 1rem 0;

        &:last-child {
          background-color: $color-primary-dark-2;
        }
      }

      a {
        color: $color-white;
        text-decoration: none;
      }
    }
  }
}
