.header {
  width: 100%;
  height: auto;
  display: block;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #e7fdff;
  transition: all 0.3s;

  @include respond(phone) {
    border-bottom: 2px solid $color-primary-dark-1;
    width: 100%;
    display: block;
    position: fixed;
  }

  @include respond(tab-port) {
    border-bottom: 2px solid $color-primary-dark-1;
    width: 100%;
    display: block;
    position: fixed;
  }

  @include respond(tab-land) {
    border-bottom: 2px solid $color-primary-dark-1;
    width: 100%;
    display: block;
    position: fixed;
  }

  #nav-toggle {
    display: block;
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 1001;
    margin-top: -500px;
  }

  .icon-burger {
    display: none;
    position: fixed;
    width: 6rem;
    height: 6rem;
    border-radius: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $color-primary-dark-2;
    top: 3rem;
    right: 3rem;

    @include respond(tab-port) {
      display: flex;
      z-index: 1000;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include respond(tab-land) {
      display: flex;
      z-index: 1000;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include respond(phone) {
      display: flex;
      z-index: 1000;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 2.2rem;
      right: 2.2rem;
    }

    &__line {
      display: block;
      position: relative;
      width: 3rem;
      height: 2px;
      background-color: $color-white;
      margin: 3px;
      border-radius: 10px;
      opacity: 1;
      transition: all 0.3s;
    }
  }

  .check:checked ~ .header__navigation {
    visibility: visible;
    opacity: 1;
  }

  .check:checked ~ * .icon-burger__line:nth-child(1) {
    transform: rotate(45deg);
    display: block;
    position: absolute;
  }

  .check:checked ~ * .icon-burger__line:nth-child(2) {
    opacity: 0;
  }

  .check:checked ~ * .icon-burger__line:nth-child(3) {
    transform: rotate(-45deg);
    display: block;
    position: absolute;
  }

  &__logobox {
    width: $site-width;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    padding: 2rem 0;
    transition: all 0.3s ease-in;

    @include u-center-div;

    @include respond(tab-port) {
      width: 100%;
      padding: 3rem 2rem 1.5rem;
      gap: 1rem;
    }

    @include respond(tab-land) {
      width: 100%;
      padding: 3rem 2rem 1.5rem;
      gap: 1rem;
    }

    @include respond(phone) {
      justify-content: flex-start;
      align-self: center;
      width: 100%;
      padding: 2rem;
      gap: 1.5rem;
    }

    a:link {
      text-decoration: none;

      @include respond(phone) {
        text-decoration: none;
        text-align: center;
        margin: 0;
      }
    }

    &--img {
      height: 9rem;

      @include respond(phone) {
        height: 6rem;
        // margin: 1rem auto;
      }
    }

    &--title {
      font-size: 4rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $color-primary;

      @include respond(phone) {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 0;
        text-align: left;

        .title_name {
          display: block;
          font-size: 3rem;
        }

        .title_dept {
          display: block;
          font-size: 2rem;
        }
      }
    }
  }

  &__navigation {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    background-color: $color-primary-dark-1;
    border-top: 3px solid $color-secondary-dark;
    transition: all 0.3s ease-in;

    @include respond(tab-port) {
      width: 35rem;
      height: 100vh;
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      visibility: hidden;
      opacity: 0;
      z-index: 500;
    }

    @include respond(tab-land) {
      width: 35rem;
      height: 100vh;
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      visibility: hidden;
      opacity: 0;
      z-index: 500;
    }

    @include respond(phone) {
      width: 100vw;
      height: 100vh;
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      visibility: hidden;
      opacity: 0;
      z-index: 500;
      overflow: scroll;
    }

    &--container {
      width: $site-width;
      @include u-center-div;

      @include respond(phone) {
        width: 100%;
      }

      .headernav {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $color-white;
        font-size: $nav-font-size;
        font-weight: 500;

        @include respond(tab-port) {
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          position: absolute;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
        }

        @include respond(tab-land) {
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          position: absolute;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
        }

        @include respond(phone) {
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          position: absolute;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
        }

        a:link,
        a:visited {
          display: block;
          color: $color-white;
          text-decoration: none;
          text-transform: uppercase;
          transition: all 0.2s ease-in;

          @include respond(phone) {
            display: block;
            width: 80%;
            margin: 0 auto;
            padding: 2rem;
            border-top: 1px solid $color-primary-light-1;
          }
          @include respond(tab-port) {
            display: block;
            width: 80%;
            margin: 0 auto;
            padding: 2rem;
            border-top: 1px solid $color-primary-light-1;
          }
          @include respond(tab-land) {
            display: block;
            width: 80%;
            margin: 0 auto;
            padding: 2rem;
            border-top: 1px solid $color-primary-light-1;
          }

          &:hover,
          &:active {
            color: $color-primary-light-2;
          }
        }

        &__item {
          transition: all 0.3s ease-in;
        }

        li {
          text-align: center;
          @include respond(phone) {
            width: 100%;
            margin: 0;
            padding: 0;
          }

          @include respond(tab-port) {
            width: 100%;
            margin: 0;
            padding: 0;
          }
          @include respond(tab-land) {
            width: 100%;
            margin: 0;
            padding: 0;
          }
        }

        &__sub {
          width: 19rem;
          height: auto;
          display: block;
          position: absolute;
          top: 5.4rem;
          opacity: 0;
          visibility: hidden;
          transition: all 0.4s;
          background-color: $color-primary-dark-1;
          border-top: 3px solid $color-secondary-dark;
          box-sizing: border-box;
          cursor: pointer;

          @include respond(phone) {
            display: block;
            position: absolute;
            width: 80%;
            margin: 0 auto;
            border: none;
            opacity: 0;
            top: 0;
          }

          &--l2 {
            display: block;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            padding: 1.2rem 1.2rem 1rem 1.2rem;
            transition: all 0.2s ease-in;
            border-bottom: 1px solid $color-primary-dark-2;
            list-style-type: none;
            width: auto;
            position: relative;

            .l2_item {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              gap: 1rem;

              @include respond(phone) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 1rem;
                width: 100%;
                padding: 2rem;
                margin: 0 auto;
              }
            }

            &:hover {
              background-color: $color-primary-dark-2;
              color: $color-primary-light-1;
            }

            @include respond(phone) {
              display: block;
              position: relative;
              width: 80%;
              background-color: $color-primary-dark-2;
              list-style-type: none;
              border-bottom: 1px solid $color-primary-dark-2;
            }

            .headernav__sub2 {
              width: auto;
              display: none;
              position: relative;
              box-sizing: border-box;
              margin-top: 0.75rem;
              top: 0;
              left: 19rem;
              background-color: $color-primary-dark-2;
              border-top: 3px solid $color-secondary-dark;
              opacity: 0;
              cursor: pointer;
              transition: all 0.3s ease-in;

              &--l3 {
                display: block;
                color: $color-white;
                text-decoration: none;
                text-transform: uppercase;
                padding: 1.2rem 1.2rem 1rem 1.2rem;
                transition: all 0.2s ease-in;
                border-bottom: 1px solid $color-primary-dark-2;
                border-bottom: 1px solid $color-primary-light-1;
                list-style-type: none;
                min-width: 17rem;
                position: relative;

                &:hover {
                  background-color: darken($color-primary-dark-2, 5);
                  color: $color-primary-light-1;
                }

                &:hover label {
                  color: $color-primary-light-2;
                }
              }
            }
            &:hover .headernav__sub2 {
              margin-top: -0.25rem;
              transition: all 0.3s ease-in;
              display: block;
              position: absolute;
              opacity: 1;
            }
          }
        }

        &__item {
          list-style-type: none;
          display: inline-block;
          padding: 1.2rem 1.2rem 1rem 1.2rem;

          @include respond(phone) {
            width: 100%;
            text-align: center;
          }

          &:hover .headernav__sub {
            top: 4.4rem;
            opacity: 1;
            visibility: visible;

            @include respond(phone) {
              display: block;
              position: relative;
              top: 0;
              height: auto;
            }
          }
        }
      }
    }
  }
}
