.btn-login {
  background-color: $color-secondary-dark;

  a:link {
    color: $color-white !important;
    &:hover {
      color: $color-secondary-light !important;
    }
  }
}

.btn-form {
  background-color: $color-primary-dark-1;
  color: $color-white;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 3px;
  transition: all 0.3s ease;

  &:hover {
    background-color: $color-primary-dark-2;
  }
}
