form {
  width: $form-width;
  height: auto;
  display: block;
  position: relative;
  padding: 3rem;
  background-color: $color-grey-light-1;
  border-radius: 6px;
  @include u-center-div;

  label {
    color: $color-primary-dark-1;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    display: block;
  }

  select {
    text-align: center;
    text-transform: uppercase;
  }

  select,
  input[type='text'],
  input[type='number'],
  input[type='password'],
  input[type='date'],
  input[type='button'],
  input[type='file'] {
    width: 100%;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $color-primary-light-1;
    border-radius: 5px;
    border: 2px solid $color-primary-light-2;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1rem 1.5rem;
    transition: all 0.2s ease-in;
    cursor: pointer;
    text-align: left;
    font-weight: 500;

    &:focus,
    &:hover {
      border: 2px solid $color-secondary-dark;
      color: $color-primary-dark-1;
    }

    option {
      font-size: $default-font-size;
      text-align: center;
      text-transform: uppercase;
      font-family: $default-font-family;
      font-weight: 500;
    }

    input[type='text'] {
      padding: 2rem;
      text-align: left;
    }
  }
  input[type='button'] {
    background-color: $color-primary-light-1;
    color: $color-white;
    outline: none;
    border: 0px;

    &:focus,
    &:hover {
      border: none;
      color: $color-white;
    }
  }

  .formbtns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  input[type='reset'],
  input[type='submit'] {
    width: 10rem;
    background-color: $color-primary-dark-1;
    color: $color-white;
    text-transform: uppercase;
    font-size: $default-font-size;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  input[type='reset'] {
    background-color: $color-secondary-dark;
  }

  .section_form {
    width: 100%;
    margin-bottom: 3rem;
  }

  .section_form_last {
  }

  .form_h2 {
    margin-bottom: 1rem;
  }

  .form_h3 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .checkboxes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    &__item {
      width: auto;
      display: block;
      background-color: $color-white;
      border-radius: 3px;

      input[type='checkbox'] {
        display: none;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        float: left;
        cursor: pointer;
        visibility: hidden;
      }

      input[type='checkbox']:checked ~ label {
        background-color: $color-primary;
        color: $color-white;
      }

      .defaultLabel {
        display: inline-block;
        position: relative;
        padding: 0.3rem 0.8rem;
        margin: 0;
        transition: all 0.1s ease-in;
        border-radius: 3px;
        cursor: pointer;
      }

      .predomLabel {
        display: inline-block;
        position: relative;
        padding: 0.3rem 0.8rem;
        margin: 0;
        transition: all 0.1s ease-in;
        border-radius: 3px;
        cursor: pointer;
        background-color: red;
        color: white;
      }

      label {
        display: inline-block;
        position: relative;
        padding: 0.3rem 0.8rem;
        margin: 0;
        transition: all 0.1s ease-in;
        border-radius: 3px;

        cursor: pointer;

        &:hover {
          color: $color-primary-light-2;
        }
      }
    }
  }

  .button-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    &__item {
      padding: 0.3rem 0.8rem;
      text-transform: uppercase;
      border-radius: 3px;
      border: none;
      background-color: rgba($color-primary-light-1, 0.5);
      font-family: $default-font-family;
      cursor: pointer;
    }
  }

  .server_report {
    width: 100%;
    height: auto;
    display: block;
    padding: 2rem;
  }
}

// VILLAGE FORM
.popdemography {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;

  &__item {
    width: 100%;
    background-color: $color-white;
    padding: 1rem;
    border-radius: 3px;

    .popflex {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;

      &__item {
        width: calc((100% - 4rem) / 3);

        &--p {
          color: #037f8d;
          font-size: 1.4rem;
          text-transform: uppercase;
          margin-bottom: 0.5rem;
          display: block;
        }
      }
    }
  }
}

// POLLING STATION FINDER
.boothform {
  width: $site-content-width;
  .boothform-flex {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;

    &__item {
      display: block;
      position: relative;
    }

    label {
      text-align: left;
    }
    select {
      // margin-bottom: 2.5rem;
    }

    input[type='text'] {
      // margin-bottom: 2.5rem;
      text-align: left;
      text-transform: uppercase;
    }

    input[type='submit'] {
      display: block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.routemap {
  width: $site-content-width;
  .routemap-flex {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;

    &__item {
      display: block;
      position: relative;
    }

    img {
      width: 100%;
    }

    select {
      width: 30rem;
    }

    input[type='submit'] {
      display: block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

#polling_results {
  display: block;
  opacity: 1;
  transition: all 0.3s ease-in;

  #pollbooth_no {
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in;

    .villageinfowarn {
      width: $site-content-width;
      display: block;
      position: relative;
      margin: 0 auto;
      background-color: $color-grey-light-1;
      border-radius: 5px;
      padding: 3rem;
      margin-bottom: 3rem;

      &__title {
        width: 100%;

        &--h2 {
          margin-bottom: 1rem;
          text-align: center;
          color: $color-secondary-dark;
        }
        p {
          text-align: center;
        }
      }
    }
  }

  #pollbooth_yes {
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in;
  }

  #pollinch_no {
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in;

    .villageinfowarn {
      width: $site-content-width;
      display: block;
      position: relative;
      margin: 0 auto;
      background-color: $color-grey-light-1;
      border-radius: 5px;
      padding: 3rem;
      margin-bottom: 3rem;

      &__title {
        width: 100%;

        &--h2 {
          margin-bottom: 1rem;
          text-align: center;
          color: $color-secondary-dark;
        }
        p {
          text-align: center;
        }
      }
    }
  }

  #pollinch_yes {
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in;
  }

  #pollinch_no {
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in;
  }
}

// Booth Form

.asmb_details_flex {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem;
  margin-bottom: 2rem;

  &__item {
    width: calc((100% - 6rem) / 3);
  }
}

.poll_details__inputs {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 2rem;

  &--number {
    width: calc((100% - 6rem) / 3);
  }

  &--name {
    width: calc(100% - ((100% - 6rem) / 3) - 3rem);
  }
}

.poll_location {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem;
  margin-bottom: 4rem;

  &__item {
    width: calc((100% - 6rem) / 3);
  }
}

.voter_demography {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  // margin-bottom: 2rem;

  &__item {
    width: calc((100% - 9rem) / 4);
  }
}

// VILLAGE FORM
.village_details_flex {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 2.5rem;
  column-gap: 3rem;
  margin-bottom: 2rem;

  &__item {
    width: calc((100% - 6rem) / 3);
  }
}

// LOGIN FORM
.loginform {
  width: 35rem;
  margin-bottom: 3rem;

  label {
    text-align: center;
  }

  input[type='text'],
  input[type='password'] {
    margin-bottom: 3rem;
  }
}

// PIP FORM
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 21.5rem);
  background-color: $color-black;
  z-index: 9;
  scroll-behavior: smooth;

  &__content {
    width: 50%;
    min-width: 65rem;
    height: auto;
    background-color: $color-grey-light-1;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    border-radius: 5px;

    h2 {
      margin-bottom: 3rem;
    }

    .photos {
      height: 35rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
      margin-bottom: 3rem;

      &__orig {
        width: 100%;
        position: relative;

        img {
          display: block;
          object-fit: contain;
        }
      }
      &__crop {
        width: 30%;

        .preview {
          display: block;
          position: relative;
          width: 200px;
          height: 300px;
        }
      }
    }
  }
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;

    button {
      width: 10rem;
      font-family: $default-font-family;
      font-size: $default-font-size;
      color: $color-primary-light-1;
      border-radius: 5px;
      border: 2px solid $color-primary-light-2;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 1rem 1.5rem;
      transition: all 0.2s ease-in;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}
.pipdetails {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 3rem;

  &__photo {
    width: calc((100% - 6rem) / 3);

    &--frame {
      width: 100%rem;
      height: 35rem;
      background-color: white;
      border-radius: 5px;
      margin-bottom: 3rem;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__facts {
    width: calc((100% - (100% - 6rem) / 3) - 3rem);

    .nameage {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      gap: 3rem;
      justify-content: space-between;
      margin-bottom: 2rem;

      &__name {
        width: calc(90% - 3rem);
      }

      &__age {
        width: 10%;
      }
    }

    .fathermobile {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      gap: 3rem;
      justify-content: space-between;
      margin-bottom: 2rem;

      &__father {
        width: 70%;
      }
    }

    .address {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: 2rem;
    }

    .partyaffiliate {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 2rem;

      &__item {
        width: calc((100% - 3rem) / 2);
      }
    }

    .chargesheet {
      width: 100%;
      background-color: $color-white;
      padding: 1rem;
      border-radius: 3px;
      margin-bottom: 2rem;

      &__query {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 2rem;
        margin-bottom: 1rem;

        label {
          cursor: pointer;
          align-self: center;
          margin-bottom: 0;

          &:not(:first-child) {
            background-color: $color-grey-light-1;
            padding: 0.3rem 1rem;
            border-radius: 3px;
          }
        }

        input[type='radio'] {
          display: none;
        }

        input[type='radio']:checked ~ label {
          background-color: $color-primary;
          color: $color-white;
        }
      }

      #chargesheet {
        display: none;
      }

      &__facts {
        // visibility: hidden;

        .sheet {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 3rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

// POLITICAL LEADER
.leadchargesheet {
  width: 100%;
  background-color: $color-white;
  padding: 1rem;
  border-radius: 3px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__query {
    // width: calc((100% - 3rem) / 2);
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;

    label {
      cursor: pointer;
      align-self: center;
      margin-bottom: 0;

      &:not(:first-child) {
        background-color: $color-grey-light-1;
        padding: 0.3rem 1rem;
        border-radius: 3px;
      }
    }

    input[type='radio'] {
      display: none;
    }

    input[type='radio']:checked ~ label {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  #chargesheet {
    display: none;
  }

  &__facts {
    // visibility: hidden;

    .sheet {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 3rem;
      margin-bottom: 1rem;
    }
  }
}

// LOR FORM
.sec_lor_form {
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 3px;
  background-color: $color-white;
  margin-bottom: 3rem;

  .nbw_container {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin-top: 2rem;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  .nbw {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 3rem;
    row-gap: 1.5rem;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &__item {
      width: calc((100% - 6rem) / 3);
      display: flex;
      flex-direction: column;
      justify-content: end;
    }
  }

  .nbw4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 3rem;
    row-gap: 1.5rem;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &__item {
      width: calc((100% - 9rem) / 4);
      display: flex;
      flex-direction: column;
      justify-content: end;
    }
  }
  .freebie {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 3rem;
    row-gap: 1.5rem;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &__item {
      width: calc((100% - 9rem) / 4);
      display: flex;
      flex-direction: column;
      justify-content: end;
    }
  }
  .freebie-tot {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 3rem;
    row-gap: 1.5rem;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
  .precious-tot {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 3rem;
    row-gap: 1.5rem;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    &__item {
      width: calc((100% - 6rem) / 3);
      display: flex;
      flex-direction: column;
      justify-content: end;
    }
  }
}

// ANNEXURE - III
.tablehead {
  padding: 3rem 3rem 0 3rem;
  height: 16rem;

  .subhead {
    color: #037f8d;
    font-size: 1.4rem;
    text-transform: uppercase;
    display: block;
    position: relative;
  }

  .dates {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__item {
      display: block;
      position: relative;
      text-align: center;

      #datepicker {
        display: block;
        position: relative;
        background-color: $color-grey-light-1;
        z-index: 1;

        label {
          cursor: pointer;
          text-align: center;
          display: block;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: $color-secondary-dark;
          }
        }

        input[type='date'] {
          display: none;
          font-size: $annexure-font-size;
          text-transform: uppercase;
          padding: 0.5rem;
        }
      }
    }
  }
}

.select_asmb {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 0;

  &__item {
    label {
      background-color: $color-white;
      padding: 0.5rem 1rem;
      border-radius: 3px;
    }

    input[type='radio'] {
      display: none;
    }

    input[type='radio']:checked ~ label {
      background-color: $color-primary-light-1;
      color: $color-white;
    }
  }
}

.annex_upload {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
  &__item {
    align-content: end;
  }
}

.annexure3 {
  outline: none;
  padding: 0.8rem;
  margin: 0;
  border-spacing: 0;
  width: 100%;
  font-size: $annexure-font-size;
  text-align: center;
  border-collapse: collapse;

  input[type='text'],
  input[type='number'] {
    font-size: $annexure-font-size;
    display: block;
    width: 100%;
    height: 3rem;
    border-radius: 0;
    border: none;
    padding: 0.5rem;
    box-sizing: border-box;
    property: none;

    &:hover,
    &:focus,
    &:active {
      border: none;
    }
  }

  th {
    border: 1px solid $color-primary-dark-1;
    padding: 0.5rem;
  }

  td {
    border: 1px solid $color-primary-dark-1;
    padding: 0.5rem;
  }
}

.policebtn {
  width: auto;
  height: auto;
  background-color: transparent;
  padding: 0;

  label {
    color: $color-white;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;

    // &:hover {
    //   color: $color-primary-light-1;
    // }
  }

  input[type='radio'] {
    display: none;
    padding: 0;
  }
}
