form {
  width: $form-width;
  height: auto;
  display: block;
  position: relative;
  padding: 3rem;
  background-color: $color-grey-light-1;
  border-radius: 6px;
  @include u-center-div;

  label {
    color: $color-primary-dark-1;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    display: block;
  }

  select {
    text-align: center;
    text-transform: uppercase;
  }

  select,
  input[type='text'],
  input[type='number'],
  input[type='password'] {
    width: 100%;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $color-primary-light-1;
    border-radius: 5px;
    border: 2px solid $color-primary-light-2;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1rem 1.5rem;
    transition: all 0.2s ease-in;
    cursor: pointer;
    text-align: left;
    font-weight: 500;

    &:focus,
    &:hover {
      outline: none;
      border: 2px solid $color-secondary-dark;
      color: $color-primary-dark-1;
    }

    option {
      font-size: $default-font-size;
      margin: 2rem;
      text-align: center;
      text-transform: uppercase;
      font-family: $default-font-family;
      font-weight: 500;
      margin: 0.8rem;
    }

    input[type='text'] {
      padding: 2rem;
      text-align: left;
    }
  }

  .formbtns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  input[type='reset'],
  input[type='submit'] {
    width: 10rem;
    background-color: $color-primary-dark-1;
    color: $color-white;
    text-transform: uppercase;
    font-size: $default-font-size;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  input[type='reset'] {
    background-color: $color-secondary-dark;
  }

  .section_form {
    width: 100%;
    margin-bottom: 3rem;
  }

  .section_form_last {
  }

  .form_h2 {
    margin-bottom: 1rem;
  }

  .form_h3 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .checkboxes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    &__item {
      width: auto;
      display: block;
      background-color: $color-white;
      border-radius: 3px;

      input[type='checkbox'] {
        display: none;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        float: left;
        cursor: pointer;
        visibility: hidden;
      }

      input[type='checkbox']:checked ~ label {
        background-color: $color-primary;
        color: $color-white;
      }

      .defaultLabel {
        display: inline-block;
        position: relative;
        padding: 0.3rem 0.8rem;
        margin: 0;
        transition: all 0.1s ease-in;
        border-radius: 3px;
        cursor: pointer;
      }

      .predomLabel {
        display: inline-block;
        position: relative;
        padding: 0.3rem 0.8rem;
        margin: 0;
        transition: all 0.1s ease-in;
        border-radius: 3px;
        cursor: pointer;
        background-color: red;
        color: white;
      }

      label {
        display: inline-block;
        position: relative;
        padding: 0.3rem 0.8rem;
        margin: 0;
        transition: all 0.1s ease-in;
        border-radius: 3px;

        cursor: pointer;

        &:hover {
          color: $color-primary-light-2;
        }
      }
    }
  }

  .button-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    &__item {
      padding: 0.3rem 0.8rem;
      text-transform: uppercase;
      border-radius: 3px;
      border: none;
      background-color: rgba($color-primary-light-1, 0.5);
      font-family: $default-font-family;
      cursor: pointer;
    }
  }

  .server_report {
    width: 100%;
    height: auto;
    display: block;
    padding: 2rem;
  }
}

// VILLAGE FORM
.popdemography {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;

  &__item {
    width: calc((100% - 3rem) / 2);
    background-color: $color-white;
    padding: 1rem;
    border-radius: 3px;

    .popflex {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;

      &__item {
        width: calc((100% - 4rem) / 3);
      }
    }
  }
}

// POLLING STATION FINDER
.boothform {
  width: 40rem;
  height: auto;

  label {
    text-align: center;
  }
  select {
    margin-bottom: 2.5rem;
  }
}

// Booth Form

.asmb_details_flex {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem 0;
  margin-bottom: 2rem;

  &__item {
    width: calc((100% - 6rem) / 3);
  }
}

.poll_details__inputs {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 2rem;

  &--number {
    width: calc((100% - 6rem) / 3);
  }

  &--name {
    width: calc(100% - ((100% - 6rem) / 3) - 3rem);
  }
}

.poll_location {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem;
  margin-bottom: 4rem;

  &__item {
    width: calc((100% - 6rem) / 3);
  }
}

.voter_demography {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  // margin-bottom: 2rem;

  &__item {
    width: calc((100% - 9rem) / 4);
  }
}

// VILLAGE FORM
.village_details_flex {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 2.5rem;
  column-gap: 3rem;
  margin-bottom: 2rem;

  &__item {
    width: calc((100% - 6rem) / 3);
  }
}

// LOGIN FORM
.loginform {
  width: 35rem;
  margin-bottom: 3rem;

  label {
    text-align: center;
  }

  input[type='text'],
  input[type='password'] {
    margin-bottom: 3rem;
  }
}
