.enforcement-flex {
  width: $site-content-width;
  margin: 0 auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 5rem;

  &__item {
    display: flex;
    flex-direction: row;
    position: relative;
    width: calc((100% - 5rem) / 3);
    height: auto;
    background-color: $color-primary-dark-1;
    padding: 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.1s ease-in;

    &:hover {
      background-color: $color-primary-dark-2;
      // transform: translateY(-3px);
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
    }

    &--title {
      width: 100%;
      height: auto;
      display: block;
      position: relative;
      text-transform: uppercase;

      .enf_title {
        color: $color-primary-light-1;
        display: block;
        position: relative;
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin-bottom: 1rem;
      }

      .enf_entity {
        color: $color-white;
        font-weight: 300;
        font-size: 3rem;
        line-height: 2.5rem;
      }
    }
    &--qty {
      width: 100%;
      height: auto;
      display: block;
      position: relative;
      text-transform: uppercase;
      text-align: right;

      .enf_title {
        color: $color-primary-light-1;
        display: block;
        position: relative;
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin-bottom: 1rem;
      }

      .enf_entity {
        color: $color-white;
        font-weight: 300;
        font-size: 3.5rem;
        line-height: 2.5rem;
      }
    }
  }
}

.adminmap {
  width: $site-content-width;
  display: block;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid $color-primary-dark-2;
  background-color: $color-grey-light-1;

  &__map {
    width: 100%;
    height: 70rem;
    border: none;
    margin-top: -60px;
  }
}

.welcome {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background-color: $color-primary-light-2;
  text-align: center;
  color: $color-primary-dark-1;
  text-transform: uppercase;
}
