.mandalam {
  width: 100%;
  height: calc(100vh - 20rem);
  display: block;
  position: relative;

  .mandalamflex {
    width: $site-width;
    height: auto;
    top: 45%;
    transform: translateY(-50%);
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    @include u-center-div;

    &__el {
      width: calc((100% - 10rem) / 3);
      height: 12rem;
      display: block;
      position: relative;
      background-color: $color-primary;
      text-decoration: none;
      border-radius: 4px;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: $color-primary-dark-1;
      }

      &--text {
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        color: $color-white;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-wrap: nowrap;
      }
    }
  }
}
