#village_entry_form {
  width: $form-width;
  height: auto;
  display: block;
  position: relative;
  padding: 3rem;
  background-color: $color-grey-light-1;
  border-radius: 3px;
  @include u-center-div;

  h2 {
    margin-bottom: 1.5rem;
  }

  label {
    color: $color-primary-dark-1;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    display: block;
  }

  select,
  input[type='text'],
  input[type='number'] {
    width: 100%;
    font-size: $default-font-size;
    text-align: center;
    text-transform: uppercase;
    color: $color-primary-light-1;
    border-radius: 5px;
    border: 2px solid $color-primary-light-2;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1.5rem;
    transition: all 0.2s ease-in;
    cursor: pointer;

    &:focus,
    &:hover {
      outline: none;
      border: 2px solid $color-secondary-dark;
    }

    option {
      font-size: $default-font-size;
      margin: 2rem;
    }

    input[type='text'] {
      padding: 2rem;
    }
  }

  input[type='reset'],
  input[type='submit'] {
    width: 10rem;
    background-color: $color-primary-dark-1;
    color: $color-white;
    text-transform: uppercase;
    font-size: $default-font-size;
    font-family: 'Montserrat', sans-serif;
    // padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 0 1rem;
  }

  input[type='reset'] {
    background-color: $color-secondary-dark;
  }
}

.asmb_details_flex {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 2rem;

  &__item {
    width: calc((100% - 6rem) / 3);
  }
}

.poll_details__inputs {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 2rem;

  &--number {
    width: calc((100% - 6rem) / 3);
  }

  &--name {
    width: calc(100% - ((100% - 6rem) / 3) - 3rem);
  }
}

.poll_location {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem;
  margin-bottom: 4rem;

  &__item {
    width: calc((100% - 6rem) / 3);
  }
}

.pollinfra {
  display: block;
  position: relative;
  margin-bottom: 4rem;
  @include clearfix;

  .pollinfrarow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

    &__item {
      label,
      input {
        display: inline-block;
        position: relative;
        width: auto;
        float: left;
      }

      input {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }
  }
}

.voter_demography {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  // margin-bottom: 2rem;

  &__item {
    width: calc((100% - 9rem) / 4);
  }
}

.server_report {
  width: 100%;
  height: auto;
  display: block;
  padding: 2rem;
  // background-color: antiquewhite;
}

.submit_btns {
  display: flex;
  width: 100%;
  margin: 0 auto 2rem;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
