.villagesearch {
  width: $site-width;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  @include u-center-div;

  h2 {
    margin: 0;
    padding: 0;
    color: $color-white;
    font-weight: 300;
  }

  button[type='submit'] {
    width: calc((100% - 10rem) / 3);
    height: 10rem;
    background-color: $color-primary;
    color: $color-white;
    text-transform: uppercase;
    font-size: $default-font-size;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .radioholder {
    width: 30rem;
    height: 10rem;
    display: block;
    position: relative;
    background-color: $color-primary-dark-1;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: $color-primary-dark-2;
    }

    label {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    input[type='radio'] {
      width: 100%;
      height: 100%;
      display: block;
      z-index: -100;
      opacity: 0;
      background-color: $color-primary;
      color: $color-white;
      text-transform: uppercase;
      font-size: $default-font-size;
      font-family: 'Montserrat', sans-serif;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
  }
}
