body {
  font-size: $default-font-size;
  color: $color-grey-dark;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 2.2rem;
}

article {
  .articleimg {
    max-width: 100%;
  }

  .text__h2 {
    font-size: $default-font-size;

    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 4rem;
    }
  }

  .text__p {
    font-size: $default-font-size;

    @include respond(phone) {
      font-size: $mobile-font-size;
      line-height: 3rem;
    }
  }
  ul {
    margin-left: 3rem;
    margin-bottom: 3rem;

    @include respond(phone) {
      font-size: 2rem;
      line-height: 3rem;
    }

    li {
      font-size: $mobile-font-size;
      margin-left: 0rem;
      margin-bottom: 0.5rem;
    }
  }
}
