.annexrepo {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  background-color: $color-grey-light-1;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 2rem;

  &__date {
    font-weight: 600;
    color: $color-primary-dark-1;
    margin-bottom: 1.5rem;
  }

  &__files {
    width: 100%;
    height: auto;
    background-color: $color-white;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: 3px;

    a:link,
    a:visited {
      background-color: $color-primary-dark-1;
      padding: 0.5rem 1rem;
      color: $color-white;
      text-decoration: none;
      border-radius: 3px;
    }
  }
}
