.section-home {
  width: 100%;
  min-height: calc(100vh - 20rem);
  transition: all 0.5s ease-in-out;

  @include respond(phone) {
    width: 100%;
  }
}

.container {
  width: 100%;
  height: auto;
  padding: 10rem 5rem;
  background-color: $color-grey-light-1;
  transition: all 0.5s ease-in;

  @include respond(phone) {
    width: 100%;
    padding: 3rem;
  }

  h2 {
    margin-bottom: 2rem;
    transition: all 0.5s ease-in;
  }

  &__site {
    width: $site-content-width;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;

    @include respond(phone) {
      width: 100%;
    }

    img {
      width: 100%;
    }

    .sm-icon {
      width: 40rem;

      @include respond(phone) {
        width: 100%;
      }
    }

    img {
      transition: all 0.5s ease-in;
    }

    p {
      transition: all 0.5s ease-in;
    }

    .whatsnew {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      gap: 3rem;
      margin-top: 3rem;
      transition: all 0.5s ease-in;

      @include respond(phone) {
        flex-direction: column;
      }

      &__item {
        width: calc((100% - 6rem) / 3);
        height: 36rem;
        display: block;
        position: relative;
        cursor: pointer;
        border-radius: 5px;
        overflow: hidden;

        @include respond(phone) {
          width: 100%;
        }

        &:hover .dark-overlay {
          height: 14rem;
        }

        &:hover .blue-overlay {
          height: 14rem;
        }

        .dark-overlay {
          background-color: rgba($color-black, 0.5);
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in;
        }

        .blue-overlay {
          background-image: linear-gradient(
            to top,
            $color-primary-dark-1,
            $color-primary-light-1
          );
          width: 100%;
          height: 0rem;
          display: block;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in;
        }

        .butt-overlay {
          width: 100%;
          height: 14rem;
          display: block;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in;

          &__holder {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h2 {
              color: $color-white;
              display: block;
              margin-bottom: 1.5rem;
            }

            button {
              background-color: $color-primary-light-1;
              padding: 0.75rem 1.25rem;
              color: $color-white;
              letter-spacing: 2px;
              border: none;
              border-radius: 3px;
              text-transform: uppercase;
              transition: all 0.2s ease-in;
              cursor: pointer;
              box-shadow: 0 0.1rem 0.25rem rgba($color-black, 0.2);

              &:hover {
                box-shadow: 0 0.25rem 0.5rem rgba($color-black, 0.2);
                transform: translateY(-3px);
              }
            }
          }
        }

        &--photo {
          display: block;
          position: relative;
          height: 36rem;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        &--text {
          width: 100%;
        }
      }
    }

    p {
      // width: 100rem;
      margin: 0 auto;
      line-height: 3rem;
    }
  }
}

.lightblue {
  background-color: rgba($color-primary-light-1, 0.2);
}

.white {
  background-color: $color-white;
}

.section-home-photo {
  margin-bottom: 3rem;

  @include respond(phone) {
    width: 100%;
    height: calc(100vh - 11rem);
  }
}

.photogallery {
  width: $site-content-width;
  height: calc((100vh - 20rem));
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  padding-bottom: 20rem;
  margin: 0 auto;
  &:not(:last-child) {
    padding-bottom: 5rem;
  }

  @include respond(phone) {
    width: 100%;
    height: calc(100vh - 8.7rem);
    padding-bottom: 0;
    gap: 2rem;
  }

  .homepagephoto {
    width: 30rem;
    height: auto;
    border: 2px soild $color-primary;
    transition: all 0.5s ease-in;
    opacity: 0;
    transform: translateY(3rem);

    @include respond(phone) {
      width: calc((100% - 6rem) / 2);
      height: auto;
      display: block;
      position: relative;
    }

    &__photo {
      width: 30rem;
      height: 40rem;
      display: block;
      object-fit: cover;
      overflow: hidden;
      margin-bottom: 2rem;
      outline: 0.2rem solid $color-primary-dark-1;

      @include respond(phone) {
        width: 100%;
        height: 25rem;
        outline: 0.1rem solid $color-primary-dark-1;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &__text {
      text-align: center;
      h3 {
        color: $color-secondary-dark;
        font-size: 1.7rem;
      }
    }
  }
}

.vision-block {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 10rem;
  }

  @include respond(phone) {
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__item {
    width: calc((100% - 3rem) / 2);
    height: 38rem;
    overflow: hidden;
    border-radius: 5px;
    align-content: center;
    text-align: left;
    transition: all 0.5s ease-in-out;

    @include respond(phone) {
      width: 100%;

      img {
      }
    }
  }
}

.mission-block {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 10rem;
  }

  @include respond(phone) {
    flex-direction: column-reverse;
  }

  &__item {
    width: calc((100% - 3rem) / 2);
    height: 38rem;
    overflow: hidden;
    border-radius: 5px;
    align-content: center;
    text-align: left;
    transition: all 0.5s ease-in-out;

    @include respond(phone) {
      width: 100%;
    }
  }
}

.sm-block {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  position: relative;
  transition: all 0.5s ease-in-out;

  &__item {
    width: calc((100% - 3rem) / 2);
    height: 36rem;
    overflow: hidden;
    border-radius: 5px;
    background-color: $color-white;
    text-align: left;
    padding: 2rem;

    &--h3 {
      font-weight: 500;
      color: $color-primary-dark-1;
      margin-bottom: 2rem;
    }

    .sm__post {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      background-color: $color-grey-light-1;
      padding: 1.5rem;
      margin-bottom: 2rem;
      border-radius: 5px;

      &--pic {
        width: 30%;
        height: 10rem;
        background-color: $color-grey-light-1;
        img {
          height: 100%;
          width: auto;
        }
      }

      &--text {
        width: 70%;
        h3 {
          font-weight: 500;
          color: $color-primary-dark-1;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1.4rem;
          line-height: 2.5rem;
        }
      }
    }
  }
}
