.pipinfoflex {
  width: $form-width;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;

  @include respond(phone) {
    width: 100%;
  }

  &__item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    padding: 3rem;
    background-color: $color-grey-light-1;

    @include respond(phone) {
      flex-direction: column;
      padding: 1.5rem;
    }

    &--photo {
      width: 28%;
      display: block;
      height: 100%;
      border-radius: 3px;
      overflow: hidden;

      @include respond(phone) {
        width: 100%;
        margin-bottom: 1.5rem;
      }

      img {
        width: 100%;
      }
    }
    &--details {
      width: calc(72% - 3rem);
      display: block;
      height: 100%;
      border-radius: 3px;

      @include respond(phone) {
        width: 100%;
      }

      .namedetailsflex {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
        margin-bottom: 3rem;

        @include respond(phone) {
          flex-direction: column;
          gap: 1.5rem;
          margin-bottom: 1.5rem;
        }

        &__item {
          background-color: $color-white;
          padding: 1rem 1.5rem;
          border-radius: 3px;
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);
        }

        &__name,
        &__fname {
          width: 45%;

          @include respond(phone) {
            width: 100%;
          }
        }

        &__age {
          width: 10%;

          @include respond(phone) {
            width: 100%;
          }
        }
      }

      .ageadddetailsflex {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin-bottom: 3rem;

        @include respond(phone) {
          flex-direction: column;
          gap: 1.5rem;
          margin-bottom: 1.5rem;
        }

        &__phone {
          width: 28%;
          background-color: $color-white;
          padding: 1rem 1.5rem;
          border-radius: 3px;
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);

          @include respond(phone) {
            width: 100%;
          }
        }

        &__address {
          width: 72%;
          background-color: $color-white;
          padding: 1rem 1.5rem;
          border-radius: 3px;
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);

          @include respond(phone) {
            width: 100%;
          }
        }
      }

      .crimedetails {
        width: 100%;
        height: auto;
        background-color: $color-white;
        padding: 1rem 1.5rem;
        border-radius: 3px;
        box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);
        margin-bottom: 3rem;

        @include respond(phone) {
          margin-bottom: 1.5rem;
        }
      }

      .chargesheetflex {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;
        margin-bottom: 3rem;

        @include respond(phone) {
          flex-direction: column;
          gap: 1.5rem;
          margin-bottom: 1.5rem;
        }

        &__item {
          width: calc((100% - 3rem) / 2);
          background-color: $color-white;
          padding: 1rem 1.5rem;
          border-radius: 3px;
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);

          @include respond(phone) {
            width: 100%;
          }
        }
      }

      .category {
        width: 100%;
        height: auto;
        background-color: $color-white;
        padding: 1rem 1.5rem;
        border-radius: 3px;
        box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);
        margin-bottom: 3rem;

        @include respond(phone) {
          margin-bottom: 1.5rem;
        }
      }

      .bindover {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;
        margin-bottom: 3rem;

        @include respond(phone) {
          flex-direction: column;
          gap: 1.5rem;
          margin-bottom: 1.5rem;
        }

        &__item {
          width: calc((100% - 3rem) / 2);
          background-color: $color-white;
          padding: 1rem 1.5rem;
          border-radius: 3px;
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);

          @include respond(phone) {
            width: 100%;
          }
        }
      }

      .polpartyflex {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;

        &__item {
          width: calc((100% - 3rem) / 2);
          background-color: $color-white;
          padding: 1rem 1.5rem;
          border-radius: 3px;
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);

          @include respond(phone) {
            width: 100%;
          }
        }
      }
    }
  }
}
