.village_info_box {
  width: $site-content-width;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
}
.villageinfo {
  width: $site-content-width;
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: $color-grey-light-1;
  border-radius: 5px;
  padding: 3rem;
  margin-bottom: 3rem;

  &__title {
    width: 100%;
    margin-bottom: 3rem;

    &--h2 {
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  .villageDesc {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &__item {
      width: calc((100% - 9rem) / 4);
      display: block;
      background-color: $color-white;
      padding: 1rem 1.5rem;
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);
      border-radius: 5px;
    }
  }

  .predominant {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 3rem;

    &__item1 {
      width: calc((100% - 3rem) / 2);
      padding: 1rem 1.5rem;
      background-color: $color-white;
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);
      border-radius: 5px;
    }

    &__item2 {
      width: calc((100% - 3rem) / 2);
      padding: 1rem 1.5rem;
      background-color: $color-white;
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &--caste {
        display: inline-block;
        position: relative;
        text-align: center;
      }
    }
  }

  .populationinfo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;

    .populationinfoblock {
      width: calc((100% - 9rem) / 4);
      height: auto;
      padding: 1rem 1.5rem;
      background-color: $color-white;
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);
      border-radius: 5px;

      .popnumberflex {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        text-align: center;

        .prop {
          text-transform: uppercase;
          color: $color-black;
          font-size: 1.2rem;
          margin-bottom: -3px;
        }
      }
    }
  }
}

.villageinfowarn {
  width: $site-content-width;
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: $color-grey-light-1;
  border-radius: 5px;
  padding: 3rem;
  margin-bottom: 3rem;

  &__title {
    width: 100%;

    &--h2 {
      margin-bottom: 1rem;
      text-align: center;
      color: $color-secondary-dark;
    }
    p {
      text-align: center;
    }
  }
}

.polpeopleinfo-red {
  background-color: rgba($color-secondary-dark, 0.1);
}

.polpeopleinfo-reg {
  background-color: $color-grey-light-1;
}

.polpeopleinfo {
  width: $site-content-width;
  display: block;
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
  padding: 3rem;
  margin-bottom: 3rem;

  &__title {
    width: 100%;
    margin-bottom: 3rem;

    &--h2red {
      margin-bottom: 1rem;
      text-align: center;
      color: $color-secondary-dark;
    }
    &--h2reg {
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  .polpeopleinfocardflex {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;

    &__item {
      width: calc((100% - 3rem) / 2);
      display: block;
      background-color: $color-white;
      border-radius: 5px;
      padding: 2rem;
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);

      .politicperson {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        &__photo {
          width: 35%;
          height: 22rem;
          overflow: hidden;
          border-radius: 3px;

          &--img {
            width: 100%;
          }
        }

        &__info {
          width: 60%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &--facts {
            &:not(:last-child) {
              margin-bottom: 0.5rem;
            }

            .prop {
              text-transform: uppercase;
              color: $color-black;
              font-size: 1.2rem;
              margin-bottom: -3px;
            }

            .valu-red {
              font-size: 1.8rem;
              color: $color-secondary-dark;
              font-weight: 500;
            }

            .valu-reg {
              font-size: 1.8rem;
              color: $color-primary-dark-1;
              font-weight: 500;
            }

            .address {
              line-height: 2rem;
            }

            .phon-red {
              a:link,
              a:visited {
                font-size: 1.8rem;
                color: $color-secondary-dark;
                text-decoration: none;
              }
            }

            .phon-reg {
              a:link,
              a:visited {
                font-size: 1.8rem;
                color: $color-primary-dark-1;
                text-decoration: none;
              }
            }
          }

          .fatherageflex {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }
      .redirect-red {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        text-align: right;

        a:link,
        a:visited {
          font-size: 1.2rem;
          display: inline-block;
          position: relative;
          background-color: $color-secondary-dark;
          color: $color-white;
          padding: 0.5rem 1rem;
          border-radius: 3px;
          text-decoration: none;
          text-transform: uppercase;
          right: 0;
          bottom: 0;
        }
      }

      .redirect-reg {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        text-align: right;

        a:link,
        a:visited {
          font-size: 1.2rem;
          display: inline-block;
          position: relative;
          background-color: $color-primary-dark-1;
          color: $color-white;
          padding: 0.5rem 1rem;
          border-radius: 3px;
          text-decoration: none;
          text-transform: uppercase;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}

.v-pollingbooths {
  width: $site-content-width;
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: $color-grey-light-1;
  border-radius: 5px;
  padding: 3rem;
  margin-bottom: 3rem;

  &__title {
    width: 100%;
    margin-bottom: 3rem;

    &--h2 {
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  .v-booth-container {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3rem;
    padding: 3rem;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);
    background-color: $color-white;
    border-radius: 5px;
  }

  .v-boothcard {
    width: calc((100% - 3rem) / 2);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    position: relative;
    background-color: $color-grey-light-1;
    border-radius: 5px;
    overflow: hidden;

    @include respond(phone) {
      width: 100%;
    }

    &__number {
      display: block;
      position: relative;
      width: 15rem;
      height: auto;
      text-transform: uppercase;
      text-align: center;
      background-color: $color-grey-light-1;

      @include respond(phone) {
        width: 12rem;
      }

      &--text {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .boothno {
          margin-bottom: 2rem;
          display: block;
        }

        .boothnumber {
          font-size: 6rem;
          margin-top: 2rem;
          color: $color-black;

          @include respond(phone) {
            font-size: 5rem;
          }
        }
      }
    }

    &__details {
      width: calc(100% - 15rem);
      height: auto;
      background-color: $color-primary-dark-1;
      padding: 2rem;
      color: $color-white;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      @include respond(phone) {
        width: calc(100% - 12rem);
      }

      &--name {
        height: auto;
        display: block;
        position: relative;
        margin-bottom: 1.5rem;

        @include respond(phone) {
          height: 9.5rem;
          margin-bottom: 1.2rem;
        }

        .boothna {
          color: $color-primary-light-1;
          display: block;
          position: relative;
          height: auto;
        }

        .boothname {
          font-size: 2.5rem;
          line-height: 2.5rem;
          font-weight: 300;
          text-transform: capitalize;

          @include respond(phone) {
            font-size: 2.5rem;
            line-height: 3rem;
          }
        }
      }
      .boothlink {
        width: 100%;
        height: auto;
        text-align: right;
        a:link,
        a:visited {
          font-size: 1.2rem;
          display: inline-block;
          position: relative;
          background-color: $color-secondary-dark;
          color: $color-white;
          padding: 0.5rem 1rem;
          border-radius: 3px;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }

    &__demograph {
      display: block;
      padding-bottom: 2rem;
      border-bottom: 1px solid $color-primary-light-1;

      @include respond(phone) {
        padding-bottom: 1.5rem;
      }

      .demographtitle {
        display: block;
        margin-bottom: 0.5rem;
        color: $color-primary-light-1;
      }
      &--details {
        width: 100%;
        display: flex;
        flex-direction: row;
        text-transform: capitalize;
        justify-content: space-between;

        .demoblock {
          display: inline-block;
          position: relative;

          &__name {
            display: block;
            // margin-bottom: 1rem;
          }

          &__number {
            display: block;
            font-size: 3rem;
            font-weight: 400;
          }
        }
      }
    }

    &__redirect {
      display: block;
      position: relative;
      width: 100%;
      height: 4rem;

      @include respond(phone) {
        height: 3.5rem;
      }

      p {
        display: block;
        position: absolute;
        bottom: 0;
      }
      // background-color: $color-primary-dark-2;
    }

    &__map {
      width: 100%;
      height: 100%;
    }
  }
}

.prop {
  text-transform: uppercase;
}

.valu {
  color: $color-primary-dark-1;
  font-weight: 500;
}

.infrastructure {
  display: block;
  position: relative;
  padding: 3rem;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);
  background-color: $color-white;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 3rem;

  &__prop {
    text-transform: uppercase;
    color: $color-black;
    font-size: 1.2rem;
  }

  &__valu {
    font-size: 1.8rem;
    color: $color-primary-dark-1;
    font-weight: 500;
  }
}

.forcedeployment {
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: $color-white;
  border-radius: 5px;
  padding: 3rem;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05);

  &__title {
    width: 100%;
    margin-bottom: 3rem;

    &--h2 {
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  .forceblockflex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      width: calc((100% - 6rem) / 3);
      background-color: $color-grey-light-1;
      padding: 1rem;
      border-radius: 3px;

      .force-head {
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }

      .officer-title {
        text-transform: uppercase;
        color: $color-black;
        font-size: 1.2rem;
      }

      .officer-name {
        font-size: 1.8rem;
        color: $color-primary-dark-1;
        font-weight: 500;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
      .officer-number {
        a:link,
        a:visited {
          font-size: 2rem;
          color: $color-primary-dark-1;
          text-decoration: none;
        }
      }
    }
  }
}
